$gray_1: #f8f9fa;
$gray_2: #ebeff4;
$gray_3: #e9ecef;
$gray_4: #d2d6da;
$gray_5: #ced4da;
$gray_6: #adb5bd;
$gray_7: #6c757d;
$gray_8: #28334e;
$gray_9: #232d45;
$gray_10: #141727;

$slate_1: #f8fafc;
$slate_2: #dee2e6;
$slate_3: #cbd3da;
$slate_4: #a8b8d8;
$slate_5: #8392ab;
$slate_6: #67748e;
$slate_7: #627594;
$slate_8: #344767;
$slate_9: #3a416f;
$slate_10: #0f172a;

$red_1: #fef2f2;
$red_2: #fee2e2;
$red_3: #fecaca;
$red_4: #fca5a5;
$red_5: #f87171;
$red_6: #f53939;
$red_7: #ea0606;
$red_8: #b91c1c;
$red_9: #991b1b;
$red_10: #7f1d1d;

$green_1: #f0fdf4;
$green_2: #f2fafa;
$green_3: #bbf7d0;
$green_4: #86efac;
$green_5: #4ade80;
$green_6: #22c55e;
$green_7: #17ad37;
$green_8: #15803d;
$green_9: #166534;
$green_10: #14532d;

$blue_1: #eff6ff;
$blue_2: #dbeafe;
$blue_3: #bfdbfe;
$blue_4: #9fb7cf;
$blue_5: #60a5fa;
$blue_6: #3b82f6;
$blue_7: #2152ff;
$blue_8: #1d4ed8;
$blue_9: #344e86;
$blue_10: #00007d;
