@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

// S p e c i f y   f a m i l i e s
$Roboto: "Roboto", sans-serif;
$Mukta: "Mukta", sans-serif;

// ===========================================
// F o n t - s i z e
$tiny: 12px;
$extraSmall: 14px;
$small: 16px;
$medium: 18px;
$large: 20px;
$extraLarge: 22px;
